body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px ;
  background-color: white;
}

a{
	text-decoration:none;
	color: black;
}

li{
	display: inline;
	padding: 10px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header li {
  padding: 0 20px;
  margin: 0;
}


.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.projects{
	margin-left: 10px;
}

.projects a{
	padding: 10px;
	font-size: 20px;
}






